html {

}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end Added styles with reset */ 


    /* Navigation Section */

.top-navigation {
	background-color: #ffffff;
	font-family: 'roboto' sans-serif;
	float: left;
	width: 100%;
	position: fixed;
	z-index: 9999;
	border: 1px solid lightgray;
}

.top-navigation > .content  {
	width:970px;
	height: 70px;
	margin:0 auto;
	font-family: 'roboto', sans-serif;
	letter-spacing: 0.03em;
	font-size: 16.5px;
	color:#838994;
	box-sizing: border-box;

}

.content {
	padding:0 15px;
}

.logo {
	height: 70px;
	margin-left:87px;
	

}

.links {
	float: right;
	display: inline-block;
	line-height: 70px;
	margin-right: 85px;
}

.links> li {
	display: inline;
	margin-left: 25px;
	}

.links>li:hover {
	cursor: pointer;
	color: #333333;
}

.links > .active {
	color: #4c5058;
    font-weight: 600;
}

																		/* End of Navigation bar */

.introduction > .content {
	background-image: url("../images/first-background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center bottom;
	height: 735px; 
	color:white;
}


.introduction > .content > .karma {
	font-family: 'roboto' sans-serif;
	font-size: 3.12rem;
	text-align: center;
	padding-top: 17.25rem;
	font-weight: 300;
}

.introduction > .content > .wifi {
	font-family: 'roboto' sans-serif;
	font-size: 1.53em;
	text-align: center;
	margin-top: 1.25rem;
	font-weight: 300;
}

.introduction > .content > .buttons {
	margin:0 auto;
	margin-top: 1rem;
	text-align: center;
}
.introduction > .content > .buttons > button {
	text-align: center;
	width: 9.68rem;
	background-color: #f15a29;
	border-radius: 4px;
	border-style: none;
	color:white;
	font-size: 1.125rem;
	padding:1rem 1.25rem;
}

.introduction > .content > .buttons > button:hover {
	background-color: #f14a29;
	cursor: pointer;
}

 																			/* section cases */ 

.cases > .content {
	margin-top: 4rem;
	margin: 0 auto;
	height: 525px;
	color: #1d1e21;
	margin-bottom: -8rem;

}

.cases > .content > h2 {
	margin-top: 7.85rem;
	text-align: center;
	font-family: 'roboto' sans-serif;
	font-size: 2.75rem;
	font-weight: 300;
	margin-right: 

}

.cases>.content > ul {
	text-align: center;
	list-style-type: none;
	margin-top: 3.125rem;
	margin-right: 20.5%;
	margin-left: 20.5%;
}

.cases >.content > ul > li {
	display: inline;
	float: left;
	width: 33.33%;

}

.cases > .content > ul > li> h3 {
	margin-top: 2rem;
	font-family:'roboto' sans-serif;
	font-size: 1.563rem;
}

																			/* end of cases */

.social {
	height: 305px;
	margin: 0 auto;
}

.social> .content > hr {
	border-top: 1px solid lightgray;
	margin: 1.3rem 0;
	margin-left: 20%;
	margin-right: 20%;
}
.social > .content > h5 {
	text-align: center;
	font-family: 'roboto' sans-serif;
	margin-right: 20%;
	margin-left:20%;
	padding-bottom: 1rem;
}

.social > .content > ul {
	margin: 0 auto;
	text-align: center;
	margin: 0.5rem;
}
 
.social >.content > ul > li {
	display: inline;
	margin-right: 0.3rem;
	margin-left: 0.3rem;
	margin: 0 auto;
}

.social > .content > ul > li> i {
	text-align: center;
	padding:0.5rem;
	height: 1.5rem;
	width: 1.5rem;
	border:1px solid lightgray;
	border-radius: 50%;
	line-height: 25px;
}

.social> .content >  ul > li > .fa.fa-twitter {
	color:#55acee;
}

.social > .content >  ul > li > .fa.fa-facebook {
	color: #4c66a4;
}

.social > .content > ul > li > .fa.fa-instagram {
	color: #3f729b;
}

.social > .content > ul > li > i {
	padding:0.5rem;
}



.social >.content > p {
	font-family: 'roboto' sans-serif;
	text-align: center;
	font-size: 0.9rem;
	color: #838994;
	padding-top:1rem;	 
}

